WCD0QI_1020/szemelyek.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="szemelyek">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="szemely"/>


            </xs:sequence>
        </xs:complexType>

    </xs:element>
    <xs:complexType name="szemely">
        <xs:sequence>
            <xs:element name="nev" type="xs:string"/>
            <xs:element name="kor" type="xs:int"/>
            <xs:element name="varos" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    </xs:schema>


