WCD0QI_0922/wcd0qi_0922/orarend.dtd

<!DOCTYPE orarend
[
        <!ELEMENT ORA (TARGY, IDOPONT, HELYSZIN, OKTATO, SZAK)>
        <!ELEMENT IDOPONT (NAP,TOL,IG)>
        <!ELEMENT TARGY (#PCDATA)>
        <!ELEMENT NAP (#PCDATA)>
        <!ELEMENT TOL (#PCDATA)>
        <!ELEMENT IG (#PCDATA)>
        <!ELEMENT HELYSZIN (#PCDATA)>
        <!ELEMENT OKTATO (#PCDATA)>
        <!ELEMENT SZAK (#PCDATA)>
        ]